---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import dayjs from "dayjs";

import { capitalize, singularize } from "@lib/stringUtils.ts";

import FullScreenLayout from "@layouts/FullScreenLayout.astro";
import BlogLayout from "@layouts/BlogLayout.astro";
import SimplePagination from "@components/navigation/SimplePagination.astro";

import "@styles/blogList.css";

export const getStaticPaths = (async ({ paginate }) => {
  const isDev = import.meta.env.DEV || undefined;
  const articles = await getCollection("articles");
  const snippets = await getCollection("snippets");

  const publishedArticles = articles.filter((post) =>
    isDev ? true : post.data.status === "published"
  );
  const publishedSnippets = snippets.filter((post) =>
    isDev ? true : post.data.status === "published"
  );

  const posts = [...publishedArticles, ...publishedSnippets].sort((a, b) => {
    const dateA = dayjs(a.data.publishedAt).unix();
    const dateB = dayjs(b.data.publishedAt).unix();
    return dateB - dateA;
  });
  return paginate(posts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const pageTitle = "Blog";
---

<FullScreenLayout title={pageTitle}>
  <BlogLayout defaultGridColumn="popout">
    <h1>{pageTitle}</h1>
    <ul class="blog-list">
      {
        page.data.map((post) => (
          <li>
            <a
              href={`/${post.collection}/${post.id}`}
              class="flex flex-col h-full"
            >
              {post.data.status === "draft" && (
                <p class="uppercase font-bold">(Draft)</p>
              )}
              <p class="post-type">
                {singularize(post.collection).toUpperCase()}
              </p>

              <h2>{post.data.title}</h2>

              {"description" in post.data && (
                <p class="description">{post.data.description}</p>
              )}

              <div class="flex flex-col mt-auto">
                {post.data.tags.length > 0 && (
                  <ul class="tag-list">
                    {post.data.tags.map((tag) => (
                      <li class="tag">{capitalize(tag)}</li>
                    ))}
                  </ul>
                )}
                <p class="date">
                  {dayjs(post.data.publishedAt).format("MMM D, YYYY")}
                </p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>

    <SimplePagination page={page} baseUrl="blog" />
  </BlogLayout>
</FullScreenLayout>

<style>
  .blog-list,
  .tag-list {
    list-style: none;
  }

  li {
    margin-left: 0;
  }
</style>
