---
import FullScreenLayout from "../layouts/FullScreenLayout.astro";

const skillColor = "red";
const skillWeight = 600;
const skillTextCase = "uppercase";

const roles = [
  {
    title: "Developer",
    company: "Flocknote",
    date: "2022 - Present",
    descriptions: [
      {
        type: "summary",
        text: "I build complex, but easy to use interfaces, for a leading church management software company.",
      },
      {
        type: "detail",
        text: "While I work throughout our codebase, I regularly work on payments related features and get tasked with jumping in for emergency situations",
      },
    ],
    technology: [
      "Javascript",
      "React",
      "Styled Components",
      "Framer Motion",
      "React Query",
      "React Hook Form",
      "React Testing Library",
    ],
  },
  {
    title: "Senior Application Developer",
    company: "NCF",
    date: "2021 - 2022",
    description: [
      {
        type: "detail",
        text: "Massively improved developer experience by refactoring legacy software to bundle Javascript with webpack, making it easier to develop and navigate the codebase",
      },
      {
        type: "detail",
        text: "Improved mobile responsiveness fo the primary client facing application",
      },
      {
        type: "detail",
        text: "Built proof-of-concent app for moving a legacy portal application from jQuery to Remix",
      },
    ],
    technology: ["Javascript, React, Remix, Webpack"],
  },
  {
    title: "Frontend Web Developer",
    company: "With One Vision",
    date: "2018 - 2021",
    description: [
      {
        type: "summary",
        text: "Designed, developed, and maintained church management software.",
      },
      {
        type: "detail",
        text: "Replaced a legacy application with React and Material UI to manage the writing, approving, and sending of 1,000,000 texts and emails per year.",
      },
      {
        type: "detail",
        text: "Designed and built an internal staff site for the sharing and requesting of resources with React and Form.io",
      },
      {
        type: "detail",
        text: "Led the implementation of notifications and universal links in our React Native app.",
      },
      {
        type: "detail",
        text: "Partnered with a coworker to develop the table structures and API endpoints for a contact management feature in our mobile app using React and Knex.",
      },
      {
        type: "detail",
        text: "Designed and built a public site for downloading resources for church leaders",
      },
      {
        type: "detail",
        text: "Oversaw site maintainence, bug fixes, and feature additions for 12stone.com",
      },
    ],
    technology: [
      "React",
      "NodeJS",
      "SQL",
      "GraphQL",
      "NextJS",
      "Docusaurus",
      "React Native",
      "Knex",
      "Material UI",
      "Tailwind",
      "Bootstrap",
      "Bulma",
    ],
  },
  {
    title: "Teaching Assistant",
    company: "Georgia Tech Coding Bootcamp",
    date: " July 2018 - Feb 2019",
    description: [
      {
        type: "summary",
        text: "Assisted students in learning full stack web development technologies, including HTML, CSS, JavaScript, Node.js, Express, MySQL, and React.",
      },
    ],
    technology: [],
  },
];
---

<FullScreenLayout title="About">
  <div class="container">
    <section class="about-me">
      <div class="flex flex-col">
        <h1>Clayton Ingalls</h1>
        <h2 class="highlight">Web Developer</h2>
      </div>
      <div class="flex flex-col gap-4">
        <p>
          I build interactive, responsive web applications using modern web
          technologies.
        </p>
        <p>
          I have a particular interest in React having worked with it daily
          since 2018.
        </p>
      </div>

      <nav>
        <ul>
          <li>
            <a href="#origin" class="nav-link active"
              ><div class="bullet"></div>Origin Story</a
            >
          </li>
          <li>
            <a href="#roles" class="nav-link"><div class="bullet"></div>Roles</a
            >
          </li>
          <li>
            <a href="#volunteer" class="nav-link"
              ><div class="bullet"></div>Volunteer</a
            >
          </li>
          <li>
            <a href="#projects" class="nav-link"
              ><div class="bullet"></div>Projects</a
            >
          </li>
        </ul>
      </nav>
    </section>

    <section class="history">
      <div id="origin" class="history-section">
        <h2>Origin Story</h2>
        <p>
          Although I built my first website on Geocities in 1996, it wasn't
          until after a career in ministry that I decided to pursue a long time
          dream to truly learn how code.
        </p>
        <p>
          Using FreeCodeCamp and other online resources, I learned the skills I
          needed to land my first developer job and learned that I do indeed
          love being a developer.
        </p>
        <p>
          My main focus these days is building new features for Flocknote's
          church management software.
        </p>
      </div>

      <div id="roles" class="history-section">
        <h2>Roles</h2>
        <ul>
          {
            roles.map(({ title, company, date, description, technology }) => (
              <li>
                <h3>{title}</h3>
                <h4>{company}</h4>
                <p>{date}</p>
                <ul>
                  {description?.map((desc) => {
                    if (desc.type === "summary") {
                      console.log(desc);
                      return <p>{desc.text}</p>;
                    }
                    return <li>{desc.text}</li>;
                  })}
                </ul>
                <ul>
                  {technology?.map((tech) => (
                    <li>{tech}</li>
                  ))}
                </ul>
              </li>
            ))
          }
        </ul>
      </div>

      <div id="volunteer" class="history-section">
        <h2>Volunteer</h2>
        <p>I've volunteered since 2022 with Refcode.</p>
      </div>

      <div id="projects" class="history-section">
        <h2>Projects</h2>
      </div>
    </section>
  </div>

  <style>
    .container {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6rem;
      max-width: 1024px;
      margin: 0 auto;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
    }

    p {
      line-height: 2rem;
    }

    .about-me {
      position: sticky;
      top: 0;
      align-self: start;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-block-start: 10rem;

      h2 {
        font-size: 1.75rem;
        position: relative;
        display: inline-block;
        padding-inline-end: 3rem;
      }
    }

    nav ul {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      margin-block-start: 2.5rem;
    }
    .nav-link {
      display: flex;
      align-items: center;
      gap: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.9rem;

      & .bullet {
        width: 2rem;
        height: 0.1rem;
        background-color: #fff;
        transition: all 0.3s ease;
      }
      &.active {
        font-weight: 600;

        .bullet {
          width: 4rem;
          height: 0.2rem;
        }
      }
    }
    .nav-link.active {
      font-weight: 600;
    }

    .history {
      padding-block-start: 10rem;
      padding-block-end: 20rem;

      * + * {
        margin-block-start: 1em;
      }

      h2 {
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }

    .highlight::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      height: 5px;
      animation-name: grow;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
    }

    @keyframes grow {
      from {
        width: 0%;
        background: #ff5d5d;
      }

      to {
        width: 60%;
        background: #ff5d5d;
      }
    }
  </style>

  <script>
    function handleScroll() {
      let main = document.querySelector("main");
      if (!main) return;

      main.addEventListener("scroll", function () {
        const top = main.scrollTop;
        const sections: NodeListOf<HTMLElement> =
          document.querySelectorAll(".history-section");
        const navLinks = document.querySelectorAll(".nav-link");

        let currentSection = "";

        sections?.forEach((section) => {
          const sectionTop = section.offsetTop;
          if (top >= sectionTop - 350) {
            currentSection = section.getAttribute("id") || "";
          }
        });

        navLinks.forEach((link) => {
          link.classList.remove("active");
          if (link.getAttribute("href") === `#${currentSection}`) {
            link.classList.add("active");
          }
        });
      });
    }

    handleScroll();
  </script>
</FullScreenLayout>
