---
import { UnsocialSchema } from "@content.config";
import { z } from "astro:content";
import dayjs from "dayjs";

type Data = z.infer<typeof UnsocialSchema>;
type Props = { data: Data; id: string };

const { data, id } = Astro.props;
const title = data.title,
  publishedAt = data.publishedAt,
  image = data.image,
  description = data.description,
  tags = data.tags;
const date = dayjs(publishedAt).format("MMM D, YYYY");
---

<article class="article-preview">
  <div class="image-wrapper">
    <img src={image?.url} alt={image?.alt} />
  </div>
  <div class="article-summary">
    <p class="publishedDate">{date}</p>
    <h2>{title}</h2>
    {
      tags?.length && (
        <ul class="article-tags">
          {tags.map((tag) => (
            <li>{tag}</li>
          ))}
        </ul>
      )
    }
    <p class="article-description">{description}</p>
    <a class="read-btn" href={`/unsocial/${id}`}>Read</a>
  </div>
</article>
